@import './variables.module.scss';

// styles.scss
.main {
    display: flex;
    justify-content: start;
    // align-items: center;
    height: 100vh; // Full viewport height    
    background-color: $background;
    color: $black-text; // Apply the text color to the main container
    font-family: 'Roboto', sans-serif; // Use Roboto font
    font-size:small;
    font-weight: 100;
  }

  .header {
    font-size: 1.5rem; // Adjust the font size for h1
    font-weight: 400; // Set a normal font weight
  }
  
  .text {
    font-size: 1rem; // Set a standard font size for paragraphs
    font-weight: 400; // Set a normal font weight
  }

  .column {
    flex: 1; // Each column takes up equal space
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ccc; // Optional: Add a border for visual separation
    height: 100vh;
  }

  .column:nth-child(1) {
    background-color: transparent; // No background for the left column
  }
  
  .column:nth-child(2) {
    background-color: $blue-600; // Blue background for the right column
  }

  .header {
    width: 100vw;
    height: 50vh; // Set the height to 10rem
    margin: 0 0px; // 5px margin on the left and right
    padding: 3rem 4rem 0; // 1.25rem top padding, 0.625rem left and right padding, 0 bottom padding
    background: linear-gradient(to bottom, $blue-700, $blue-400); // Gradient from blue-700 to blue-500
    display: flex;
    justify-content: center;
    align-items: start;    
    box-sizing: border-box; // Include padding and border in the element's total width and height
    
    .logo {
      // background: red;
      justify-content: start;
    }

    .signout {
      // background-color: green;
      justify-content: end;
    }

    .menu {
      // background-color: gray;
      flex: 1;
      display: flex;
      gap: 3rem;
      color: $white-text;
      font-size: 1.2rem;
      margin: 0rem 8rem;
      justify-content: start;

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        padding: 0.8rem 2rem; // Add padding for the hover effect
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.1); // Light translucent background
          border-radius: 0.5rem; // Optional: Add rounded corners
        }
      }

    }

  }